@model List<Members>
<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Ekip Üyelerimiz</h4>
            <h1 class="display-4 mb-4">Takım Arkadaşlarımızla Tanışın</h1>
            <p class="mb-0">
                Her başarılı hizmetin arkasında güçlü bir ekip vardır. Alanında uzman, deneyimli ve tutkulu ekibimiz, müşterilerimize en iyi çözümleri sunmak için birlikte çalışmaktadır. İster müşteri hizmetleri, ister sigorta danışmanlığı olsun; tüm ekip üyelerimiz güven inşa etmeye, memnuniyet sağlamaya ve sizin için önemli olanı korumaya kendini adamıştır.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon">
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-title p-4">
                            <h4 class="mb-0">@item.NameSurname</h4>
                            <p class="mb-0">@item.Profession</p>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</div>
<!-- Team End -->
