@model List<Services>
<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Hizmetlerimiz</h4>
            <h1 class="display-4 mb-4">En İyi Hizmetleri Sunuyoruz</h1>
            <p class="mb-0">
                İhtiyacınıza özel sigorta çözümleri sunuyor, hayatınızı kolaylaştırıyoruz. Sağlıktan seyahate, araçtan konuta kadar her alanda yanınızdayız. Size sadece güvende hissetmek kalıyor.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model.OrderByDescending(x => x.ServiceId).Take(4))
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="service-icon p-3">
                                <i class="@item.Icon"></i>
                            </div>
                        </div>
                        <div class="service-content p-4">
                            <div class="service-content-inner">
                                <a href="#" class="d-inline-block h4 mb-4">@item.Title</a>
                                <p class="mb-4">@item.Description</p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Daha fazla</a>
                            </div>
                        </div>
                    </div>
                </div>
            }            
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Daha fazla hizmet</a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
