@model List<Features>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Özellikler</h3>
            <p class="text-subtitle text-muted">Özellikler bölümünün Listeleme, Oluşturma, Silme ve Güncelleme işlemlerini buradan gerçekleştirebilirsiniz.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Özellikler</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row" id="basic-table">
    <div class="col-12 col-md-12">
        <div class="card">            
            <div class="card-content">
                <div class="card-body">              
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>BAŞLIK</th>
                                    <th>AÇIKLAMA</th>
                                    <th>İKON URL</th>
                                    <th>SİL</th>
                                    <th>GÜNCELLE</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-bold-500">@item.FeatureId</td>
                                        <td class="text-bold-500">@item.Title</td>
                                        <td class="text-bold-500">
                                            @(string.IsNullOrEmpty(item.Description)
                                                ? ""
                                                : (item.Description.Length > 100
                                                    ? item.Description.Substring(0, 100) + "..."
                                                    : item.Description))
                                        </td>
                                        <td class="text-bold-500">@item.IconUrl</td>
                                        <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Feature/CreateFeature" class="btn btn-primary">Yeni Özellik Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
