@model Features
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Özellik Güncelle</h3>
            <p class="text-subtitle text-muted">Özellikler bölümünün güncelleme işlemini buradan gerçekleştirebilirsiniz.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Özellikler</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <form method="post">
                        <input type="hidden" name="FeatureId" value="@Model.FeatureId"/>
                        <div class="form-group">
                            <label>BAŞLIK</label>
                            <input type="text" class="form-control" name="Title" value="@Model.Title">
                        </div>
                        <div class="form-group">
                            <label>İKON URL</label>
                            <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl">
                        </div>
                        <div class="form-group">
                            <label>AÇIKLAMA</label>
                            <textarea class="form-control" rows="5" name="Description">@Model.Description</textarea>
                        </div>
                        <button class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
